@use './variables' as variables;
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__conteiner {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.btn {
    &__no-backgraund {
        display: flex;
        align-items: center;
        color: variables.$white;
        text-shadow: variables.$text-shadow;
        &--back {
            &::before {
                content: url(../icons/up.svg);
                margin-right: 6px;
            }
        }
    }
}



.title {
    color: variables.$white;
    text-shadow: variables.$text-shadow;
}

.text {
    color: variables.$white;
    text-shadow: variables.$text-shadow;
}

.conteiner-wether-row {
    display: flex;
    gap: 7px;
    &__inner {
        &::-webkit-scrollbar {
            width: 3.42px; /* ширина скроллбара */
            border: 1px solid variables.$white;
            border-radius: 10px;
            height: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background: variables.$white; /* цвет ползунка */
            border-radius: 10px; /* скругление углов ползунка */
        }
        &--vertical {
            display: flex;
            justify-content: space-around;
            overflow-y: auto;
            width: 100%;
        }
        &--horizontal {
            flex-direction: column;
            overflow-y: auto;
            max-height: 178px;
            width: 100%;
            padding-right: 20px;
        }
    
    }    
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border-radius: 12px;
        
        background: variables.$sub-bacgraund;
        border: 1px solid variables.$white;
        &--horizontal {
            flex-direction: row;
        }
        .text {
            text-align: center;
        }
        
        &--icon {
            
        }

     
        &:not(.active) {
            background: none;
            border: none;
        }
    }
}

.text--last {
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: url(../icons/sun.svg);
        margin-right: 10px;
    }
}
